
/* 
 ______     ______     __         ______     ______     ______    
/\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\   
\ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \  
 \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\ 
  \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/ 
                                                                  
*/


.slate-bg{
	background-color: #254a5d;
}

.slate {
	color: #254a5d;
}

.ivory-bg{
	background-color: #f9f5eb;
}

.ivory {
	color: #f9f5eb;
}


/* ______   ______     ______     __         ______    
/\__  _\ /\  __ \   /\  __ \   /\ \       /\  ___\   
\/_/\ \/ \ \ \/\ \  \ \ \/\ \  \ \ \____  \ \___  \  
   \ \_\  \ \_____\  \ \_____\  \ \_____\  \/\_____\ 
    \/_/   \/_____/   \/_____/   \/_____/   \/_____/ 
*/

.color-example {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	display: inline-block;
}


/*heading tags */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Great Vibes', cursive, arial, sans-serif;
}

h1 {
	font-size: 65px;
}

